*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Blue Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
    --primary: #1e88e5;
    --primary-hover: #1976d2;
    --primary-focus: rgba(30, 136, 229, 0.125);
    --primary-inverse: #FFF;
}

/* Blue Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
        --primary: #1e88e5;
        --primary-hover: #2196f3;
        --primary-focus: rgba(30, 136, 229, 0.25);
        --primary-inverse: #FFF;
    }
}

/* Blue Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
    --primary: #1e88e5;
    --primary-hover: #2196f3;
    --primary-focus: rgba(30, 136, 229, 0.25);
    --primary-inverse: #FFF;
}

/* Blue (Common styles) */
:root {
    --form-element-active-border-color: var(--primary);
    --form-element-focus-color: var(--primary-focus);
    --switch-color: var(--primary-inverse);
    --switch-checked-background-color: var(--primary);
    --brand-color: #1e88e5;
    --brand-font: 'Times New Roman';
    --brand-background-color: #c5c5c5;
    --brand-second-color: #ffffff;
    --table-text-color: #415462;
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    margin: 0;
}

.hr {
    margin-top: 0;
}

a:hover {
    color: var(--brand-second-color);
}

a {
    display: inline-block;
}

.active-link {
    color: var(--brand-color);
}

.active-page {
    color: var(--brand-second-color);
}

a:focus {
    color: var(--brand-second-color);
}

.auth {
    color: #686868;
    padding-left: 0;
}

.back {
    color: var(--brand-color);
}

body, ul, p {
    margin: 0;
    padding: 0;
    font-family: var(--brand-font);
}

/* .button:hover,
.button:focus {
    background-color: #8e0000;
} */

.button {
    margin: 10px 15px;
}

.button-back {
    background-color: var(--primary-active);
    margin: 15px;
}

.button-save {
    background-color: var(--brand-color);
    margin: 15px;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    
}

.foto-logo {
    background-image: #c5c5c500;
    width: 100px;
    vertical-align: middle;
}

.content {
    height: auto;
    min-height: 600px;
    margin-top: 15px;
    margin-left: auto;
    padding-right: auto;
}

.contact-phone,
.contact-email {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.container {
    background-color: var(--brand-background-color);
    padding: 100px;
}

.center {
    text-align: center;
}

.copyright {
    text-align: center;
    font-size: 10px;
}

.done {
    color: #46b93e;
    font-size: 20px;
}

.notdone {
    color: #8e0000;
    font-size: 20px;
    padding: 0;
}

.menu li{
    padding: 5px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 15px;
}

.header {
    background-color: var(--brand-background-color);
}

.user {
    color: var(--brand-color);
    font-size: 13px;
}

.user-white {
    color: var(--brand-second-color);
}

.question {
    text-align: center;
    margin: 10px;
}

.page-content {
    text-align: center;
}

.header-search form {
    padding: 0;
    margin: 5px;
}

.header-search input {
    padding: 0;
    margin: 0;
}

.header-logo {
    letter-spacing: 2px;
    font-family: inherit;
    vertical-align: middle;
}

.header-logo-search {
    display: flex;
    justify-content: space-between;
}

.header-logo-foto {
    display: inline-block;
}

.header-auth {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header-auth img {
    width: 500px;
}

.header-auth li {
    padding: 0;
    margin: 0;
}

.header-auth-login {
    margin: 0 10px;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.header-auth-login li{
    color: var(--brand-second-color);
    font-size: 15px;
}


.header-auth-back {
    font-size: 14px;
    color: var(--brand-second-color);
}

hr {
    border: 1px solid;
    border-radius: 10%;
    color: #ffffff;
}

.header-auth-user {
    font-size: 15px;
    color: var(--brand-second-color);
}

.header-auth-user span {
    font-family: Arial, Helvetica, sans-serif;
}

.left {
    justify-content: left;
}

.marjin-left {
    margin-left: 0;
}

.min-menu a {
    color: var(--brand-color);
    background-color: var(--brand-background-color);
}

nav ul li {
    font-weight: 700;
}

.foto-phone {
    vertical-align: middle;
    width: 30px;
}

.foto-email {
    vertical-align: middle;
    width: 30px;
}

.phone, 
.email {
    margin: 0 10px;
    vertical-align: middle;
}

.profile-fields,
.footer-ul,
.form {
    display: flex;
    justify-content: center;
}

.profile-fields-name {
    text-align: center;
    font-weight: 600;
    text-transform: capitalize;
}

.profile-fields-p {
    text-align: center;
}

.profile-fields-img {
    text-align: center;
    width: 150px;
    border: var(--brand-second-color) solid 1px;
    border-radius: 420%;
}

.print {
    color: #686868;
}

.footer-ul-li {
    margin: 10px;
}

ul li {
    list-style-type: none;
}

.phone,
.email {
    display: block;
    text-align: center;
    color: #3b3b3b;
    font-weight: 500;
}

section {
    margin-bottom: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

@media (max-width: 994px) {
    .norm {
        display: none;
    }

    .min {
        display: block;
    }
}

@media (min-width: 994px) {
    .norm {
        display: block;
    }

    .min {
        display: none;
    }
}

.note a:focus,
.note a:hover {
    color: #000000;
    font-weight: 700;
}

table a {
    color: var(--table-text-color);
}

.title-page {
    font-family: inherit;
    text-align: center;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.785);
}

.text {
    color: var(--table-text-color);
}

.text-edit {
    color: #4677c1;
}

.text-delete {
    color: #8e0000;
}

.sort {
    display: inline-block;
    font-size: 20px;
}

/* Style for the search container */
.search-container {
    position: relative;
}

/* Style for the search button */
.search-button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}


#search input[type="text"] {
    font-family: var(--brand-font);
    background: #f7f4f4;
    border: 0 none;
    font-size: bold 10px;
    color: #777;
    width: 130px;
    height: 30px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}

#search input[type="text"]:focus {
    width: 200px;
}

.with-line {
    position: relative;
}

.with-line::after {
    content: '';
    position: absolute;
    bottom: -2px;
    /* Регулює положення лінії */
    left: 0;
    width: 100%;
    /* Ширина лінії рівна ширині слова */
    border-bottom: 2px solid black;
    /* Тут можна вказати будь-які стилі лінії */
}


/*пример оформления версии сайта для печати*/
@media print {
    body {
        background: #fff;
        font-size: 1em;
    }

    .header,
    .footer,
    .not-print {
        display: none
    }

    .content {
        padding: 0;
        margin: 0
    }
}