{% extends "base.html" %}
{% block content %}
{% load i18n %}

<h1 class='title-page'>{% trans 'Про нас' %}</h1>
<p class="page-content">{% trans 'Компанія Наша-Фірмa ― комплексний постачальник продуктів харчування для ресторанів та кафе в Одесі та передмісті.' %}</p>
<p class="page-content">{% trans 'Нашими клієнтами є більш ніж 100 закладів Одеси. Ми працюємо з ресторанами, барами, кафе, готелями. Наш транспортний відділ має налагоджену систему логістики – департамент логістики і власний автопарк дозволяють швидко і якісно обслуговувати наших клієнтів.' %}</p>
<p class="page-content">{% trans 'Ми працюємо з ресторанами, барами, кафе, готелями.' %}</p>
<p class="page-content">{% trans 'Наш транспортний відділ має налагоджену систему логістики – департамент логістики і власний автопарк дозволяють швидко і якісно обслуговувати наших клієнтів.' %}</p>

{% endblock %}