{% extends "base.html" %}
{% block content %}

<p class="center">для <b>"{{user}}"</b> --> <b>"{{current_date}}"</b></p>
    <div class="form">
    <form method="post" action="">
        {% csrf_token %}
        <p class="center">Ви дійсно хочете додати нове замовлення?</p>
        <div>{{ f.errors }}</div>
        <div class="btn-container">
            <button type="submit" class="button button-save">Зберегти</button>
            <button type="reset" class="button button-back" onclick="history.back()">Назад</button>
        </div>
    </form>
</div>

{% endblock %}