{% extends "base.html" %}
{% block content %}

<h1 class="title-page">{{ title }}</h1>
<div>
    <form method="post" action="">
        {% csrf_token %}
        {% for f in form %}
        <p><label for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
        <div>{{ f.errors }}</div>
        {% endfor %}
        <div>
            <button type="submit" class="button">Add</button>
            <button type="reset" class="button" onclick="history.back()">No</button>
        </div>
    </form>
</div>


{% endblock %}