{% extends "base.html" %}
{% block content %}

{% if not request.user.username == 'admin' %}
<p class="center"><a href="{% url 'add_order' %}">+ Додати нове замовлення</a></p>
{% endif %}
<table class="note" role="grid">
    <thead>
        <tr class="title-table">
            <th>№</th>
            <th>замовлення</th>
            <th>користувач</th>
            <th>статус</th>
            <th>переглянути</th>
            <th>видалити</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr class="user">
            <th>{{ forloop.counter }}</th>
            <td><a href="{% url 'sort_by_date' order.created_at %}">{{ order.created_at }}</a></td>
            {% if request.user.username == 'admin' %}
                <td><a href="{% url 'sort_by_name' order.user %}">{{ order.user }}</a></td>
            {% else %}
                <td><a href="">{{ order.user }}</a></td>
            {% endif %}
            <td>
                {% if request.user.username == 'admin' %}
                <a href="{% url 'edit_order_done' order.pk %}">
                    {% endif %}
                    {% if order.done %}<span class="done">&#10004;</span>
                    {% else %}<span class="notdone">&#10008;</span>{% endif %}</a>
            </td>
            <td>
                <a class="text-edit" href="{% url 'view_order' order.pk %}">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon-sm" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <circle cx="12" cy="12" r="9"></circle>
                        <path
                            d="M12 17c-1.657 0-3-1.343-3-3v-1c0-1.657 1.343-3 3-3s3 1.343 3 3v1c0 1.657-1.343 3-3 3zM8 12a1 1 0 0 1-2 0 1 1 0 0 1 2 0zM16 12a1 1 0 0 1-2 0 1 1 0 0 1 2 0z">
                        </path>
                    </svg>
                </a>
            </td>
            <td>
                <a class="text-delete" href="{% url 'delete_order' order.pk %}?next={{ request.get_full_path }}">
                <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 23 23" stroke-linecap="round"
                    stroke-linejoin="round" class="icon-delete" height="1.2em" width="1.2em" xmlns="http://www.w3.org/2000/svg">
                    <polyline class="icon-delete" points="3 6 5 6 21 6"></polyline>
                    <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
                    </path>
                    <line x1="10" y1="11" x2="10" y2="17"></line>
                    <line x1="14" y1="11" x2="14" y2="17"></line>
                </svg>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if page_obj.has_other_pages %}
<nav class="list-pages">
    <ul>
        {% if page_obj.has_previous %}
        <li class="page-num">
            <a href="?page=1">&laquo;</a>
        </li>
        <li class="page-num">
            <a href="?page={{ page_obj.previous_page_number }}">&lsaquo;</a>
        </li>
        {% endif %}

        {% for p in paginator.page_range %}
        {% if page_obj.number == p %}
        <li class="page-num page-num-selected"><span>{{ p }}</span></li>
        {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %} <li class="page-num"><a
                href="?page={{ p }}">{{ p }}</a></li>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item">
                <a href="?&page={{ page_obj.next_page_number }}">&rsaquo;</a>
            </li>
            <li class="page-num">
                <a href="?page={{ paginator.num_pages }}">&raquo;</a>
            </li>
            {% endif %}
    </ul>
</nav>
{% endif %}
{% endblock %}