{% extends "base.html" %}
{% block content %}

<div class="form">
    <form method="post" action="">
        {% csrf_token %}
        <p class="center">Ви дійсно хочете видалити?</p>
        <p class="center"></p><b>"{{ object }}"</b> для користувача <b>"{{ order.user }}</b>?</p>
        <div class="btn-container">
            <button type="submit" class="button-save">Так</button>
            <button type="reset" class="button-back" onclick="history.back()">Ні</button>
        </div>
    </form>
</div>

{% endblock content %}