{% extends "base.html" %}
{% block content %}

<p class="center"><b>"{{ object }}"</b> для користувача <b>"{{ object.user }}"</b></p>
<div class="form">
    <form method="post" action="">
        {% csrf_token %}
        <label>{{form.as_p}}</label>
        <span>{{ form.errors.name }}</span>
        <div class="btn-container">
            <button type="submit" class="button button-save">Зберегти</button>
            <button type="reset" class="button button-back" onclick="history.back()">Назад</button>
        </div>
    </form>
</div>

{% endblock content %}