{% extends "base.html" %}
{% block content %}

<h2 class="title-page">{{ title }}</h2>
<p class="center"><b>"{{ object.product }}"</b> for order <b>"{{ object }}"</b></p>
<div class="form">
    <form method="post" action="">
    {% csrf_token %}
    <label>{{form.as_p}}</label>
    <span>{{ form.errors.name }}</span>
    <div class="btn-container">
        <button type="submit" class="button-save">Save</button>
        <button type="reset" class="button-back" onclick="history.back()">Back</button>
    </div>
</form>
</div>

{% endblock content %}