{% extends 'base.html' %}
{% block content %}
{% load i18n %}

<h1 class='title-page'>{% trans 'Змінити продукт' %}</h1>
<p class='center'><b>'{{ object.product }}'</b></p>
<!-- <p class='center'>{% trans 'для замовлення' %}</p>
<p class='center'><b>'{{ order.created_at|date:"d M Y" }}'</b></p> -->
<div class='form'>
    <form method='post' action=''>
    {% csrf_token %}
    <label>{{form.as_p}}</label>
    <span>{{ form.errors.name }}</span>
    <div class='btn-container'>
        <button type='submit' class='button button-save'>{% trans 'Зберегти' %}</button>
        <button type='reset' class='button button-back' onclick='history.back()'>{% trans 'Назад' %}</button>
    </div>
</form>
</div>

{% endblock content %}