<footer>
    <section class="footer">
        <ul class="footer-ul">
            <li class="footer-ul-li"><a class="footer-ul-li-a" href="#"><ion-icon name="logo-facebook"></ion-icon></a>
            </li>
            <li class="footer-ul-li"><a class="footer-ul-li-a" href="#"><ion-icon name="logo-twitter"></ion-icon></a>
            </li>
            <li class="footer-ul-li"><a class="footer-ul-li-a" href="#"><ion-icon name="logo-linkedin"><ion-icon></a>
            </li>
            <li class="footer-ul-li"><a class="footer-ul-li-a" href="#"><ion-icon name="logo-instagram"></ion-icon></a>
            </li>
        </ul>
        <p class="copyright">©2023 Nasha-firma | Всі права захищені</p>
    </section>
</footer>