{% load i18n %}

<footer>
    <section class='footer'>
        <ul class='footer-ul'>
            <li class='footer-ul-li'><a class='footer-ul-li-a' href='https://www.instagram.com/dostavka__nasha_firma/'><ion-icon name='logo-instagram'></ion-icon></a>
            </li>
            <li class='footer-ul-li'><a class='footer-ul-li-a' href='#'><ion-icon name='logo-facebook'></ion-icon></a>
            </li>
            <li class='footer-ul-li'><a class='footer-ul-li-a' href='#'><ion-icon name='logo-twitter'></ion-icon></a>
            </li>
        </ul>
        <p class='copyright'>©2023 {% trans 'Наша-Фірмa' %} | {% trans 'Всі права захищені' %}</p>
    </section>
    <script type='module' src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js'></script>
    <script nomodule src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js'></script>
</footer>