{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load i18n %}

<h1 class='title-page'>{% trans 'Контакти' %}</h1>
<a class='contact-phone phone' href='+38(097)-716-23-56'>тел: +38(097)-716-23-56</a>
<a class='contact-email email' href='mailto:nasha-firma@ukr.net'>nasha-firma@ukr.net</a>

{% if request.user.is_authenticated %}
<div class='form'>
    <form method='post' action="{% url 'feedback' %}">
        {% csrf_token %}
        {% for f in form %}
        <p><label for='{{ f.id_for_label }}'>{{f.label}}: </label>{{ f }}</p>
        <div class='form-error'>{{ f.errors }}</div>
        {% endfor %}
        <div class='btn-container'>
            <button type='submit' class='button button-save'>{% trans 'Відправити' %}</button>
            <button type='reset' class='button button-back' onclick='history.back()'>{% trans 'Назад' %}</button>
        </div>
    </form>
</div>
{% endif %}

{% endblock %}