{% extends 'base.html' %}
{% load static %}
{% block content %}

<h2 class="title-page">{{ title }}</h2>
    {% if user.profile_picture %}
    <div class="profile-fields">
    <img class="profile-fields-img" src="{{ user.profile_picture.url }}" alt="profile_picture">
    {% else %}
    <img class="profile-fields-img" src="{% static 'profile_pictures/profile_picture_default.jpg' %}" alt="profile_picture">
    {% endif %}
    </div>
    <br>
    <div class="profile-fields-p">
    <p class="profile-fields-name">{{ user.first_name }} {{ user.last_name }}</p>
    <p class="profile-fields-p"><strong>Username</strong>: {{ user.username }}</p>
    <p class="profile-fields-p"><strong>Email</strong>: {{ user.email }}</p>
    <p class="profile-fields-p"><strong>Phone number</strong>: {{ user.telephone_number }}</p>
    <ul>
        {% if is_owner %}
        <br>
        <li><a class="text-edit" href="{% url 'profile_edit' pk=object.pk %}">Edit profile</a></li>
        <li><a class="text-delete" href="{% url 'profile_delete' pk=object.pk %}">Delete profile</a></li>
        {% endif %}
    </ul>
</div>

{% endblock %}