{% extends 'base.html' %}
{% block content %}
{% load i18n %}

<h1 class='title-page'>{% trans 'Реєстрація' %}</h1>
<div class='form'>
    <form method='post' action=''>
        {% csrf_token %}
        {% for f in form %}
        <p><label for='{{ f.id_for_label }}'>{{f.label}}: </label>{{ f }}</p>
        <div class='form-error'>{{ f.errors }}</div>
        {% endfor %}
        <div class=''>
            <input class='form-check-input me-2' type='checkbox' value='' id='checkbox' />
            <label class='form-check-label' for='checkbox'>
                {% trans 'Я згоден з' %} <a href="{% url 'terms' %}" class='text-body'><u>Terms of service</u></a>
            </label>
        </div>
        <div class='btn-container'>
            <button type='submit' class='button button-save' id='registrationBtn'
                disabled>{% trans 'Реєстрація' %}</button>
            <button type='reset' class='button button-back' onclick='history.back()'>{% trans 'Назад' %}</button>
        </div>
        <p>{% trans 'Вже маєте профіль?' %}</p>
        <p><a href="{% url 'login' %}">{% trans 'Вхід до особистого кабінету' %}</a></p>
    </form>
</div>

{% endblock %}