{% extends "base.html" %}
{% block content %}

<h2 class="title-page">{{ title }}</h2>
<div class="form">
    <form method="post" action="">
        {% csrf_token %}
        {% for f in form %}
        <p><label for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
        <div class="form-error">{{ f.errors }}</div>
        {% endfor %}
        <div class="btn-container">
            <button type="submit" class="button-save">Save</button>
            <button type="reset" class="button-back" onclick="history.back()">Back</button>
        </div>
    </form>
</div>

{% endblock %}