{% extends 'base.html' %}
{% block content %}
{% load i18n %}

<h1 class='title-page'>{% trans 'Видалити продукт' %}</h1>
<div class='form'>
    <form method='post' action=''>
        {% csrf_token %}
        <p class='center'>{% trans 'Ви дійсно хочете видалити' %}<b class="text-blue"> '{{ object.product }}'</b>?</p>
        <div class='btn-container'>
            <button type='submit' class='button button-save'>{% trans 'Так' %}</button>
            <button type='reset'  class='button button-back' onclick='history.back()'>{% trans 'Ні' %}</button>
        </div>
    </form>
</div>

{% endblock content %}