{% extends "base.html" %}
{% block content %}

<h2 class="title-page">{{ title }}</h2>
<div class="form">
    <form method="post" action="">
        {% csrf_token %}
        <p class="center">are you sure you want to delete</p>
        <p class="center"><b>"{{ object.product }}"</b>?</p>
        <div class="btn-container">
            <button type="submit" class="button-save">Yes</button>
            <button type="reset"  class="button-back" onclick="history.back()">No</button>
        </div>
    </form>
</div>

{% endblock content %}