{% extends "base.html" %}
{% block content %}

<h2 class="title-page">{{ title }}</h2>
<div class="form">
    <form method="post" action="">
        {% csrf_token %}
        <p>are you sure you want to delete the <b>"{{ object.product }}"</b>?</p>
        <div class="btn-container">
            <button type="reset"  class="button-save" onclick="history.back()">No</button>
            <button type="submit" class="button-back">Yes</button>
        </div>
    </form>
</div>


{% endblock content %}