{% extends "base.html" %}
{% block content %}

<h2 class="title-page">{{ title }}</h2>
<div class="form">
    <form method="post" action="">
        {% csrf_token %}
        <p><label>{{form.as_p}}</label></p>
        <div class="form-error">{{ f.errors }}</div>
        <div class="btn-container">
            <button type="submit" class="button-back">Save</button>
            <button type="button" class="button-save" onclick="history.back()">Back</button>
        </div>
    </form>
</div>

{% endblock content %}